/**
 * Location Intelligence APIs
 * Incorporate our extensive geodata into everyday applications, business processes and workflows.
 *
 * OpenAPI spec version: 7.5.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package pb.locationintelligence;

import pb.ApiCallback;
import pb.ApiClient;
import pb.ApiException;
import pb.ApiResponse;
import pb.Configuration;
import pb.Pair;
import pb.ProgressRequestBody;
import pb.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import pb.locationintelligence.model.GeoPropertyResponse;
import pb.locationintelligence.model.GeoPropertyAddressRequest;
import pb.locationintelligence.model.GeoPropertyResponses;
import pb.locationintelligence.model.GeoPropertyPBKeyResponse;
import pb.locationintelligence.model.GeoPropertyPBKeyRequest;
import pb.locationintelligence.model.GeoPropertyPBKeyResponses;
import pb.locationintelligence.model.SchoolsNearByResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LIAPIGeoPropertyServiceApi {
    private ApiClient apiClient;

    public LIAPIGeoPropertyServiceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LIAPIGeoPropertyServiceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getGeoPropertyByAddress */
    private com.squareup.okhttp.Call getGeoPropertyByAddressCall(String address, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling getGeoPropertyByAddress(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/geoproperty/v1/all/attributes/byaddress".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (address != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "address", address));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/xml", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Gets GeoPropertyResponse
     * Gets GeoPropertyResponse
     * @param address free form address text (required)
     * @return GeoPropertyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GeoPropertyResponse getGeoPropertyByAddress(String address) throws ApiException {
        ApiResponse<GeoPropertyResponse> resp = getGeoPropertyByAddressWithHttpInfo(address);
        return resp.getData();
    }

    /**
     * Gets GeoPropertyResponse
     * Gets GeoPropertyResponse
     * @param address free form address text (required)
     * @return ApiResponse&lt;GeoPropertyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GeoPropertyResponse> getGeoPropertyByAddressWithHttpInfo(String address) throws ApiException {
        com.squareup.okhttp.Call call = getGeoPropertyByAddressCall(address, null, null);
        Type localVarReturnType = new TypeToken<GeoPropertyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets GeoPropertyResponse (asynchronously)
     * Gets GeoPropertyResponse
     * @param address free form address text (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getGeoPropertyByAddressAsync(String address, final ApiCallback<GeoPropertyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getGeoPropertyByAddressCall(address, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GeoPropertyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getGeoPropertyByAddressBatch */
    private com.squareup.okhttp.Call getGeoPropertyByAddressBatchCall(GeoPropertyAddressRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        

        // create path and map variables
        String localVarPath = "/geoproperty/v1/all/attributes/byaddress".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/xml", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Gets GeoPropertyResponses
     * Gets GeoPropertyResponses
     * @param body  (optional)
     * @return GeoPropertyResponses
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GeoPropertyResponses getGeoPropertyByAddressBatch(GeoPropertyAddressRequest body) throws ApiException {
        ApiResponse<GeoPropertyResponses> resp = getGeoPropertyByAddressBatchWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Gets GeoPropertyResponses
     * Gets GeoPropertyResponses
     * @param body  (optional)
     * @return ApiResponse&lt;GeoPropertyResponses&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GeoPropertyResponses> getGeoPropertyByAddressBatchWithHttpInfo(GeoPropertyAddressRequest body) throws ApiException {
        com.squareup.okhttp.Call call = getGeoPropertyByAddressBatchCall(body, null, null);
        Type localVarReturnType = new TypeToken<GeoPropertyResponses>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets GeoPropertyResponses (asynchronously)
     * Gets GeoPropertyResponses
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getGeoPropertyByAddressBatchAsync(GeoPropertyAddressRequest body, final ApiCallback<GeoPropertyResponses> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getGeoPropertyByAddressBatchCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GeoPropertyResponses>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getGeoPropertyByPBKey */
    private com.squareup.okhttp.Call getGeoPropertyByPBKeyCall(String pbKey, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'pbKey' is set
        if (pbKey == null) {
            throw new ApiException("Missing the required parameter 'pbKey' when calling getGeoPropertyByPBKey(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/geoproperty/v1/all/attributes/bypbkey".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (pbKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pbKey", pbKey));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/xml", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Gets GeoPropertyResponse
     * Gets GeoPropertyResponse
     * @param pbKey free form text (required)
     * @return GeoPropertyPBKeyResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GeoPropertyPBKeyResponse getGeoPropertyByPBKey(String pbKey) throws ApiException {
        ApiResponse<GeoPropertyPBKeyResponse> resp = getGeoPropertyByPBKeyWithHttpInfo(pbKey);
        return resp.getData();
    }

    /**
     * Gets GeoPropertyResponse
     * Gets GeoPropertyResponse
     * @param pbKey free form text (required)
     * @return ApiResponse&lt;GeoPropertyPBKeyResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GeoPropertyPBKeyResponse> getGeoPropertyByPBKeyWithHttpInfo(String pbKey) throws ApiException {
        com.squareup.okhttp.Call call = getGeoPropertyByPBKeyCall(pbKey, null, null);
        Type localVarReturnType = new TypeToken<GeoPropertyPBKeyResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets GeoPropertyResponse (asynchronously)
     * Gets GeoPropertyResponse
     * @param pbKey free form text (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getGeoPropertyByPBKeyAsync(String pbKey, final ApiCallback<GeoPropertyPBKeyResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getGeoPropertyByPBKeyCall(pbKey, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GeoPropertyPBKeyResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getGeoPropertyByPBKeyBatch */
    private com.squareup.okhttp.Call getGeoPropertyByPBKeyBatchCall(GeoPropertyPBKeyRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        

        // create path and map variables
        String localVarPath = "/geoproperty/v1/all/attributes/bypbkey".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/xml", "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Gets GeoPropertyResponses
     * Gets GeoPropertyResponses
     * @param body  (optional)
     * @return GeoPropertyPBKeyResponses
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public GeoPropertyPBKeyResponses getGeoPropertyByPBKeyBatch(GeoPropertyPBKeyRequest body) throws ApiException {
        ApiResponse<GeoPropertyPBKeyResponses> resp = getGeoPropertyByPBKeyBatchWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Gets GeoPropertyResponses
     * Gets GeoPropertyResponses
     * @param body  (optional)
     * @return ApiResponse&lt;GeoPropertyPBKeyResponses&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<GeoPropertyPBKeyResponses> getGeoPropertyByPBKeyBatchWithHttpInfo(GeoPropertyPBKeyRequest body) throws ApiException {
        com.squareup.okhttp.Call call = getGeoPropertyByPBKeyBatchCall(body, null, null);
        Type localVarReturnType = new TypeToken<GeoPropertyPBKeyResponses>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets GeoPropertyResponses (asynchronously)
     * Gets GeoPropertyResponses
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getGeoPropertyByPBKeyBatchAsync(GeoPropertyPBKeyRequest body, final ApiCallback<GeoPropertyPBKeyResponses> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getGeoPropertyByPBKeyBatchCall(body, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<GeoPropertyPBKeyResponses>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSchoolsByAddress */
    private com.squareup.okhttp.Call getSchoolsByAddressCall(String address, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling getSchoolsByAddress(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/geoproperty/v1/school/byaddress".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (address != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "address", address));
        if (edLevel != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "edLevel", edLevel));
        if (schoolType != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "schoolType", schoolType));
        if (schoolSubType != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "schoolSubType", schoolSubType));
        if (gender != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "gender", gender));
        if (assignedSchoolsOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "assignedSchoolsOnly", assignedSchoolsOnly));
        if (districtSchoolsOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "districtSchoolsOnly", districtSchoolsOnly));
        if (searchRadius != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadius", searchRadius));
        if (searchRadiusUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadiusUnit", searchRadiusUnit));
        if (travelTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelTime", travelTime));
        if (travelTimeUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelTimeUnit", travelTimeUnit));
        if (travelDistance != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelDistance", travelDistance));
        if (travelDistanceUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelDistanceUnit", travelDistanceUnit));
        if (travelMode != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelMode", travelMode));
        if (maxCandidates != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxCandidates", maxCandidates));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Search Nearby Schools by Address
     * Search Nearby Schools by Address
     * @param address free form address text (required)
     * @param edLevel Single digit code for education level applicable values are P -&gt; primary, M -&gt; Middle, H -&gt; High, O -&gt; Mixed Grades for public school type andE -&gt; Elementary , S -&gt; Secondary , O -&gt; Others mixed grades for private schools  (optional)
     * @param schoolType Single digit code for schoolTypes applicable values are PRI and PUB (optional)
     * @param schoolSubType Single digit code for schoolSubType Applicable values are C, M, A, R, I, L, P, V, U, S (i.e. Charter, Magnet, Alternative, Regular, Indian, Military, Reportable Program, Vocational, Unknown, Special Education) (optional)
     * @param gender Single digit code for gender Applicable values are C, F, M (Coed, All Females, All Males) (optional)
     * @param assignedSchoolsOnly Single digit code for assignedSchoolOnly applicable values are  Y/N  (optional)
     * @param districtSchoolsOnly Single digit code for districtSchoolOnly applicable values are Y/N  (optional)
     * @param searchRadius Search Radius within which schools are searched (optional)
     * @param searchRadiusUnit Search Radius unit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelTime Travel Time based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelTimeUnit Travel Time unit applicable values are minutes,hours,seconds,milliseconds  (optional)
     * @param travelDistance Travel Distance based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelDistanceUnit Travel distanceUnit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelMode Travel mode Required when travelDistance or travelTime is specified. Accepted values are walking,driving (optional)
     * @param maxCandidates Max result to search  (optional, default to 10)
     * @return SchoolsNearByResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SchoolsNearByResponse getSchoolsByAddress(String address, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates) throws ApiException {
        ApiResponse<SchoolsNearByResponse> resp = getSchoolsByAddressWithHttpInfo(address, edLevel, schoolType, schoolSubType, gender, assignedSchoolsOnly, districtSchoolsOnly, searchRadius, searchRadiusUnit, travelTime, travelTimeUnit, travelDistance, travelDistanceUnit, travelMode, maxCandidates);
        return resp.getData();
    }

    /**
     * Search Nearby Schools by Address
     * Search Nearby Schools by Address
     * @param address free form address text (required)
     * @param edLevel Single digit code for education level applicable values are P -&gt; primary, M -&gt; Middle, H -&gt; High, O -&gt; Mixed Grades for public school type andE -&gt; Elementary , S -&gt; Secondary , O -&gt; Others mixed grades for private schools  (optional)
     * @param schoolType Single digit code for schoolTypes applicable values are PRI and PUB (optional)
     * @param schoolSubType Single digit code for schoolSubType Applicable values are C, M, A, R, I, L, P, V, U, S (i.e. Charter, Magnet, Alternative, Regular, Indian, Military, Reportable Program, Vocational, Unknown, Special Education) (optional)
     * @param gender Single digit code for gender Applicable values are C, F, M (Coed, All Females, All Males) (optional)
     * @param assignedSchoolsOnly Single digit code for assignedSchoolOnly applicable values are  Y/N  (optional)
     * @param districtSchoolsOnly Single digit code for districtSchoolOnly applicable values are Y/N  (optional)
     * @param searchRadius Search Radius within which schools are searched (optional)
     * @param searchRadiusUnit Search Radius unit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelTime Travel Time based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelTimeUnit Travel Time unit applicable values are minutes,hours,seconds,milliseconds  (optional)
     * @param travelDistance Travel Distance based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelDistanceUnit Travel distanceUnit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelMode Travel mode Required when travelDistance or travelTime is specified. Accepted values are walking,driving (optional)
     * @param maxCandidates Max result to search  (optional, default to 10)
     * @return ApiResponse&lt;SchoolsNearByResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SchoolsNearByResponse> getSchoolsByAddressWithHttpInfo(String address, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates) throws ApiException {
        com.squareup.okhttp.Call call = getSchoolsByAddressCall(address, edLevel, schoolType, schoolSubType, gender, assignedSchoolsOnly, districtSchoolsOnly, searchRadius, searchRadiusUnit, travelTime, travelTimeUnit, travelDistance, travelDistanceUnit, travelMode, maxCandidates, null, null);
        Type localVarReturnType = new TypeToken<SchoolsNearByResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search Nearby Schools by Address (asynchronously)
     * Search Nearby Schools by Address
     * @param address free form address text (required)
     * @param edLevel Single digit code for education level applicable values are P -&gt; primary, M -&gt; Middle, H -&gt; High, O -&gt; Mixed Grades for public school type andE -&gt; Elementary , S -&gt; Secondary , O -&gt; Others mixed grades for private schools  (optional)
     * @param schoolType Single digit code for schoolTypes applicable values are PRI and PUB (optional)
     * @param schoolSubType Single digit code for schoolSubType Applicable values are C, M, A, R, I, L, P, V, U, S (i.e. Charter, Magnet, Alternative, Regular, Indian, Military, Reportable Program, Vocational, Unknown, Special Education) (optional)
     * @param gender Single digit code for gender Applicable values are C, F, M (Coed, All Females, All Males) (optional)
     * @param assignedSchoolsOnly Single digit code for assignedSchoolOnly applicable values are  Y/N  (optional)
     * @param districtSchoolsOnly Single digit code for districtSchoolOnly applicable values are Y/N  (optional)
     * @param searchRadius Search Radius within which schools are searched (optional)
     * @param searchRadiusUnit Search Radius unit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelTime Travel Time based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelTimeUnit Travel Time unit applicable values are minutes,hours,seconds,milliseconds  (optional)
     * @param travelDistance Travel Distance based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelDistanceUnit Travel distanceUnit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelMode Travel mode Required when travelDistance or travelTime is specified. Accepted values are walking,driving (optional)
     * @param maxCandidates Max result to search  (optional, default to 10)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSchoolsByAddressAsync(String address, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates, final ApiCallback<SchoolsNearByResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSchoolsByAddressCall(address, edLevel, schoolType, schoolSubType, gender, assignedSchoolsOnly, districtSchoolsOnly, searchRadius, searchRadiusUnit, travelTime, travelTimeUnit, travelDistance, travelDistanceUnit, travelMode, maxCandidates, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SchoolsNearByResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getSchoolsNearByUsingPBKey */
    private com.squareup.okhttp.Call getSchoolsNearByUsingPBKeyCall(String pbKey, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'pbKey' is set
        if (pbKey == null) {
            throw new ApiException("Missing the required parameter 'pbKey' when calling getSchoolsNearByUsingPBKey(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/geoproperty/v1/school/bypbkey".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (pbKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "pbKey", pbKey));
        if (edLevel != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "edLevel", edLevel));
        if (schoolType != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "schoolType", schoolType));
        if (schoolSubType != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "schoolSubType", schoolSubType));
        if (gender != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "gender", gender));
        if (assignedSchoolsOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "assignedSchoolsOnly", assignedSchoolsOnly));
        if (districtSchoolsOnly != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "districtSchoolsOnly", districtSchoolsOnly));
        if (searchRadius != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadius", searchRadius));
        if (searchRadiusUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadiusUnit", searchRadiusUnit));
        if (travelTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelTime", travelTime));
        if (travelTimeUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelTimeUnit", travelTimeUnit));
        if (travelDistance != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelDistance", travelDistance));
        if (travelDistanceUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelDistanceUnit", travelDistanceUnit));
        if (travelMode != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "travelMode", travelMode));
        if (maxCandidates != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxCandidates", maxCandidates));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Search Nearby Schools by PBKey
     * Search Nearby Schools by PBKey
     * @param pbKey free form text (required)
     * @param edLevel Single digit code for education level applicable values are P -&gt; primary, M -&gt; Middle, H -&gt; High, O -&gt; Mixed Grades for public school type andE -&gt; Elementary , S -&gt; Secondary , O -&gt; Others mixed grades for private schools  (optional)
     * @param schoolType Single digit code for schoolTypes applicable values are PRI and PUB (optional)
     * @param schoolSubType Single digit code for schoolSubType Applicable values are C, M, A, R, I, L, P, V, U, S (i.e. Charter, Magnet, Alternative, Regular, Indian, Military, Reportable Program, Vocational, Unknown, Special Education) (optional)
     * @param gender Single digit code for gender Applicable values are C, F, M (Coed, All Females, All Males) (optional)
     * @param assignedSchoolsOnly Single digit code for assignedSchoolOnly applicable values are  Y/N  (optional)
     * @param districtSchoolsOnly Single digit code for districtSchoolOnly applicable values are Y/N  (optional)
     * @param searchRadius Search Radius within which schools are searched (optional)
     * @param searchRadiusUnit Search Radius unit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelTime Travel Time based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelTimeUnit Travel Time unit applicable values are minutes,hours,seconds,milliseconds  (optional)
     * @param travelDistance Travel Distance based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelDistanceUnit Travel distanceUnit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelMode Travel mode Required when travelDistance or travelTime is specified. Accepted values are walking,driving (optional)
     * @param maxCandidates Max result to search  (optional, default to 10)
     * @return SchoolsNearByResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SchoolsNearByResponse getSchoolsNearByUsingPBKey(String pbKey, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates) throws ApiException {
        ApiResponse<SchoolsNearByResponse> resp = getSchoolsNearByUsingPBKeyWithHttpInfo(pbKey, edLevel, schoolType, schoolSubType, gender, assignedSchoolsOnly, districtSchoolsOnly, searchRadius, searchRadiusUnit, travelTime, travelTimeUnit, travelDistance, travelDistanceUnit, travelMode, maxCandidates);
        return resp.getData();
    }

    /**
     * Search Nearby Schools by PBKey
     * Search Nearby Schools by PBKey
     * @param pbKey free form text (required)
     * @param edLevel Single digit code for education level applicable values are P -&gt; primary, M -&gt; Middle, H -&gt; High, O -&gt; Mixed Grades for public school type andE -&gt; Elementary , S -&gt; Secondary , O -&gt; Others mixed grades for private schools  (optional)
     * @param schoolType Single digit code for schoolTypes applicable values are PRI and PUB (optional)
     * @param schoolSubType Single digit code for schoolSubType Applicable values are C, M, A, R, I, L, P, V, U, S (i.e. Charter, Magnet, Alternative, Regular, Indian, Military, Reportable Program, Vocational, Unknown, Special Education) (optional)
     * @param gender Single digit code for gender Applicable values are C, F, M (Coed, All Females, All Males) (optional)
     * @param assignedSchoolsOnly Single digit code for assignedSchoolOnly applicable values are  Y/N  (optional)
     * @param districtSchoolsOnly Single digit code for districtSchoolOnly applicable values are Y/N  (optional)
     * @param searchRadius Search Radius within which schools are searched (optional)
     * @param searchRadiusUnit Search Radius unit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelTime Travel Time based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelTimeUnit Travel Time unit applicable values are minutes,hours,seconds,milliseconds  (optional)
     * @param travelDistance Travel Distance based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelDistanceUnit Travel distanceUnit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelMode Travel mode Required when travelDistance or travelTime is specified. Accepted values are walking,driving (optional)
     * @param maxCandidates Max result to search  (optional, default to 10)
     * @return ApiResponse&lt;SchoolsNearByResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SchoolsNearByResponse> getSchoolsNearByUsingPBKeyWithHttpInfo(String pbKey, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates) throws ApiException {
        com.squareup.okhttp.Call call = getSchoolsNearByUsingPBKeyCall(pbKey, edLevel, schoolType, schoolSubType, gender, assignedSchoolsOnly, districtSchoolsOnly, searchRadius, searchRadiusUnit, travelTime, travelTimeUnit, travelDistance, travelDistanceUnit, travelMode, maxCandidates, null, null);
        Type localVarReturnType = new TypeToken<SchoolsNearByResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search Nearby Schools by PBKey (asynchronously)
     * Search Nearby Schools by PBKey
     * @param pbKey free form text (required)
     * @param edLevel Single digit code for education level applicable values are P -&gt; primary, M -&gt; Middle, H -&gt; High, O -&gt; Mixed Grades for public school type andE -&gt; Elementary , S -&gt; Secondary , O -&gt; Others mixed grades for private schools  (optional)
     * @param schoolType Single digit code for schoolTypes applicable values are PRI and PUB (optional)
     * @param schoolSubType Single digit code for schoolSubType Applicable values are C, M, A, R, I, L, P, V, U, S (i.e. Charter, Magnet, Alternative, Regular, Indian, Military, Reportable Program, Vocational, Unknown, Special Education) (optional)
     * @param gender Single digit code for gender Applicable values are C, F, M (Coed, All Females, All Males) (optional)
     * @param assignedSchoolsOnly Single digit code for assignedSchoolOnly applicable values are  Y/N  (optional)
     * @param districtSchoolsOnly Single digit code for districtSchoolOnly applicable values are Y/N  (optional)
     * @param searchRadius Search Radius within which schools are searched (optional)
     * @param searchRadiusUnit Search Radius unit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelTime Travel Time based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelTimeUnit Travel Time unit applicable values are minutes,hours,seconds,milliseconds  (optional)
     * @param travelDistance Travel Distance based on ‘travelMode’ within which schools are searched. (optional)
     * @param travelDistanceUnit Travel distanceUnit applicable values are feet,kilometers,miles,meters (optional)
     * @param travelMode Travel mode Required when travelDistance or travelTime is specified. Accepted values are walking,driving (optional)
     * @param maxCandidates Max result to search  (optional, default to 10)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getSchoolsNearByUsingPBKeyAsync(String pbKey, String edLevel, String schoolType, String schoolSubType, String gender, String assignedSchoolsOnly, String districtSchoolsOnly, String searchRadius, String searchRadiusUnit, String travelTime, String travelTimeUnit, String travelDistance, String travelDistanceUnit, String travelMode, String maxCandidates, final ApiCallback<SchoolsNearByResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getSchoolsNearByUsingPBKeyCall(pbKey, edLevel, schoolType, schoolSubType, gender, assignedSchoolsOnly, districtSchoolsOnly, searchRadius, searchRadiusUnit, travelTime, travelTimeUnit, travelDistance, travelDistanceUnit, travelMode, maxCandidates, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SchoolsNearByResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
