/**
 * Location Intelligence APIs
 * Incorporate our extensive geodata into everyday applications, business processes and workflows.
 *
 * OpenAPI spec version: 8.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package pb.locationintelligence;

import pb.ApiCallback;
import pb.ApiClient;
import pb.ApiException;
import pb.ApiResponse;
import pb.Configuration;
import pb.Pair;
import pb.ProgressRequestBody;
import pb.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import pb.locationintelligence.model.IntersectionResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class LIAPIGeoStreetsServiceApi {
    private ApiClient apiClient;

    public LIAPIGeoStreetsServiceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public LIAPIGeoStreetsServiceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for getIntersectionByAddress */
    private com.squareup.okhttp.Call getIntersectionByAddressCall(String address, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'address' is set
        if (address == null) {
            throw new ApiException("Missing the required parameter 'address' when calling getIntersectionByAddress(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/geostreets/v1/intersection/byaddress".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (address != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "address", address));
        if (roadClass != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "roadClass", roadClass));
        if (driveTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "driveTime", driveTime));
        if (driveTimeUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "driveTimeUnit", driveTimeUnit));
        if (searchRadius != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadius", searchRadius));
        if (searchRadiusUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadiusUnit", searchRadiusUnit));
        if (historicSpeed != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "historicSpeed", historicSpeed));
        if (maxCandidates != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxCandidates", maxCandidates));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Gets NearestIntersection of major roads
     * Gets NearestIntersection of major roads
     * @param address Address (required)
     * @param roadClass Filters roads with specified class, allowed values are (Major, Motorways, Other and All), default is All (optional)
     * @param driveTime Returns Intersection in specified drive time (optional)
     * @param driveTimeUnit Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes (optional)
     * @param searchRadius Search radius within which user wants to search, default is 50 miles (optional)
     * @param searchRadiusUnit Search radius unit, allowed values are (feet, meter, kilometers and miles) (optional)
     * @param historicSpeed Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT) (optional)
     * @param maxCandidates max candidates to be returned default is 1 (optional)
     * @return IntersectionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IntersectionResponse getIntersectionByAddress(String address, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates) throws ApiException {
        ApiResponse<IntersectionResponse> resp = getIntersectionByAddressWithHttpInfo(address, roadClass, driveTime, driveTimeUnit, searchRadius, searchRadiusUnit, historicSpeed, maxCandidates);
        return resp.getData();
    }

    /**
     * Gets NearestIntersection of major roads
     * Gets NearestIntersection of major roads
     * @param address Address (required)
     * @param roadClass Filters roads with specified class, allowed values are (Major, Motorways, Other and All), default is All (optional)
     * @param driveTime Returns Intersection in specified drive time (optional)
     * @param driveTimeUnit Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes (optional)
     * @param searchRadius Search radius within which user wants to search, default is 50 miles (optional)
     * @param searchRadiusUnit Search radius unit, allowed values are (feet, meter, kilometers and miles) (optional)
     * @param historicSpeed Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT) (optional)
     * @param maxCandidates max candidates to be returned default is 1 (optional)
     * @return ApiResponse&lt;IntersectionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IntersectionResponse> getIntersectionByAddressWithHttpInfo(String address, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates) throws ApiException {
        com.squareup.okhttp.Call call = getIntersectionByAddressCall(address, roadClass, driveTime, driveTimeUnit, searchRadius, searchRadiusUnit, historicSpeed, maxCandidates, null, null);
        Type localVarReturnType = new TypeToken<IntersectionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets NearestIntersection of major roads (asynchronously)
     * Gets NearestIntersection of major roads
     * @param address Address (required)
     * @param roadClass Filters roads with specified class, allowed values are (Major, Motorways, Other and All), default is All (optional)
     * @param driveTime Returns Intersection in specified drive time (optional)
     * @param driveTimeUnit Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes (optional)
     * @param searchRadius Search radius within which user wants to search, default is 50 miles (optional)
     * @param searchRadiusUnit Search radius unit, allowed values are (feet, meter, kilometers and miles) (optional)
     * @param historicSpeed Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT) (optional)
     * @param maxCandidates max candidates to be returned default is 1 (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getIntersectionByAddressAsync(String address, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates, final ApiCallback<IntersectionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getIntersectionByAddressCall(address, roadClass, driveTime, driveTimeUnit, searchRadius, searchRadiusUnit, historicSpeed, maxCandidates, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IntersectionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for getIntersectionByLocation */
    private com.squareup.okhttp.Call getIntersectionByLocationCall(String longitude, String latitude, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'longitude' is set
        if (longitude == null) {
            throw new ApiException("Missing the required parameter 'longitude' when calling getIntersectionByLocation(Async)");
        }
        
        // verify the required parameter 'latitude' is set
        if (latitude == null) {
            throw new ApiException("Missing the required parameter 'latitude' when calling getIntersectionByLocation(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/geostreets/v1/intersection/bylocation".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (longitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "longitude", longitude));
        if (latitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "latitude", latitude));
        if (roadClass != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "roadClass", roadClass));
        if (driveTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "driveTime", driveTime));
        if (driveTimeUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "driveTimeUnit", driveTimeUnit));
        if (searchRadius != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadius", searchRadius));
        if (searchRadiusUnit != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "searchRadiusUnit", searchRadiusUnit));
        if (historicSpeed != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "historicSpeed", historicSpeed));
        if (maxCandidates != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "maxCandidates", maxCandidates));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "application/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "application/xml"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oAuth2Password" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Gets NearestIntersection of major roads
     * Gets NearestIntersection of major roads
     * @param longitude Longitude of the location. (required)
     * @param latitude Latitude of the location. (required)
     * @param roadClass Filters roads with specified class, allowed values are (Major, Motorways, Other and All), default is All (optional)
     * @param driveTime Returns Intersection in specified drive time (optional)
     * @param driveTimeUnit Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes (optional)
     * @param searchRadius Search radius within which user wants to search, default is 50 miles (optional)
     * @param searchRadiusUnit Search radius unit, allowed values are (feet, meter, kilometers and miles) (optional)
     * @param historicSpeed Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT) (optional)
     * @param maxCandidates max candidates to be returned default is 1 (optional)
     * @return IntersectionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public IntersectionResponse getIntersectionByLocation(String longitude, String latitude, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates) throws ApiException {
        ApiResponse<IntersectionResponse> resp = getIntersectionByLocationWithHttpInfo(longitude, latitude, roadClass, driveTime, driveTimeUnit, searchRadius, searchRadiusUnit, historicSpeed, maxCandidates);
        return resp.getData();
    }

    /**
     * Gets NearestIntersection of major roads
     * Gets NearestIntersection of major roads
     * @param longitude Longitude of the location. (required)
     * @param latitude Latitude of the location. (required)
     * @param roadClass Filters roads with specified class, allowed values are (Major, Motorways, Other and All), default is All (optional)
     * @param driveTime Returns Intersection in specified drive time (optional)
     * @param driveTimeUnit Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes (optional)
     * @param searchRadius Search radius within which user wants to search, default is 50 miles (optional)
     * @param searchRadiusUnit Search radius unit, allowed values are (feet, meter, kilometers and miles) (optional)
     * @param historicSpeed Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT) (optional)
     * @param maxCandidates max candidates to be returned default is 1 (optional)
     * @return ApiResponse&lt;IntersectionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<IntersectionResponse> getIntersectionByLocationWithHttpInfo(String longitude, String latitude, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates) throws ApiException {
        com.squareup.okhttp.Call call = getIntersectionByLocationCall(longitude, latitude, roadClass, driveTime, driveTimeUnit, searchRadius, searchRadiusUnit, historicSpeed, maxCandidates, null, null);
        Type localVarReturnType = new TypeToken<IntersectionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Gets NearestIntersection of major roads (asynchronously)
     * Gets NearestIntersection of major roads
     * @param longitude Longitude of the location. (required)
     * @param latitude Latitude of the location. (required)
     * @param roadClass Filters roads with specified class, allowed values are (Major, Motorways, Other and All), default is All (optional)
     * @param driveTime Returns Intersection in specified drive time (optional)
     * @param driveTimeUnit Drive time unit, allowed values are (hours, minutes, seconds and milliseconds), default is minutes (optional)
     * @param searchRadius Search radius within which user wants to search, default is 50 miles (optional)
     * @param searchRadiusUnit Search radius unit, allowed values are (feet, meter, kilometers and miles) (optional)
     * @param historicSpeed Traffic flow in peak time, allowed values are (AMPEAK,PMPEAK,OFFPEAK,NIGHT) (optional)
     * @param maxCandidates max candidates to be returned default is 1 (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getIntersectionByLocationAsync(String longitude, String latitude, String roadClass, String driveTime, String driveTimeUnit, String searchRadius, String searchRadiusUnit, String historicSpeed, String maxCandidates, final ApiCallback<IntersectionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getIntersectionByLocationCall(longitude, latitude, roadClass, driveTime, driveTimeUnit, searchRadius, searchRadiusUnit, historicSpeed, maxCandidates, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<IntersectionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
